<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>289018651947-19it8l7l6hdcqj9o9chehsr2bt6e75h5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.289018651947-19it8l7l6hdcqj9o9chehsr2bt6e75h5</string>
	<key>API_KEY</key>
	<string>AIzaSyD6u7rbwActvE4uk4FNztMBVr7MLSD4Fyw</string>
	<key>GCM_SENDER_ID</key>
	<string>289018651947</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.opentech.automatid.demoapp</string>
	<key>PROJECT_ID</key>
	<string>automatid-82024</string>
	<key>STORAGE_BUCKET</key>
	<string>automatid-82024.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:289018651947:ios:f8af26898f2c3fec65d16e</string>
</dict>
</plist>